<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MoeApps (Smart Code Editor) built with AI by Yehezkiel Victorious Ermanto">
    <title>MoeApp</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- tailwind css -->
    <link rel="stylesheet" href="{% static 'editor/css/output.css' %}">
    <!-- font css -->
    <link rel="stylesheet" href="{% static 'editor/css/font_anonymice.css' %}">
    <!-- favicon -->
    <link rel="shortcut icon" href="https://i.pinimg.com/564x/1c/54/f7/1c54f7b06d7723c21afc5035bf88a5ef.jpg"
        type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.css" />

    <style>
        .xterm .xterm-viewport {
            /* see : https://github.com/xtermjs/xterm.js/issues/3564#issuecomment-1004417440 */
            width: initial !important;
        }
    </style>
</head>

<body>
    <!-- header -->
    <div class="bg-blue-200 rounded-b-[20px]">
        <div class="mx-[4%] py-4">
            <p class="font-bold text-[30px]">MOE APP</p>
            <p class="">Smart Code Editor</p>
        </div>
    </div>

    <!-- show alert -->
    <div class="bg-red-500 rounded-lg mx-[4%] my-[25px] hidden flex-row text-white justify-between items-center"
        id="alert_failed">
        <p class="p-3">Something went wrong! check your code or make sure your code needs input value...</p>
        <i class="fa-solid fa-lg fa-xmark m-3 cursor-pointer" id="closeAlert"></i>
    </div>

    <!-- popup upload document -->
    <div class="flex justify-center">
        <div class="transition-all ease-in-out duration-700 hidden w-[80%] mx-[4%] mt-[15px] mb-[35px] p-[20px] bg-slate-200 drop-shadow-lg rounded-lg" id="pop_up_upload">
            <p class="text-lg mb-2">Upload file</p>
            <p id="alertUpload" class="text-red-500"></p>
            <div>
                <input class="relative m-0 block w-full min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-clip-padding px-3 py-[0.32rem] text-base font-normal text-neutral-700 transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none my-[10px]"
                type="file"
                id="fileUpload" />
                <div class="flex justify-end gap-[14px]">
                    <button class="bg-white p-[10px] rounded-lg xl:w-[20%] sm:w-100" id="closeUpload">Close</button>
                    <button class="bg-blue-500 text-white p-[10px] rounded-lg xl:w-[20%] sm:w-100" id="submitUpload">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- container wrap editor and action bar -->
    <div class="mx-[4%] mt-[35px] bg-white drop-shadow-lg rounded-lg">
        <!-- action bar -->
        <div class="py-[10px] mx-2 flex flex-wrap flex-row">
            <button class="mx-2 drop-shadow-lg rounded-lg bg-blue-400 p-3 ease-in duration-150" id="newPage">
                <i class="fa-solid fa-file fa-xl"></i>
            </button>

            <button class="mx-2 drop-shadow-lg rounded-lg bg-slate-400 p-3 disabled:opacity-50" id="runCode" disabled>
                <div id="icon_run">
                    <i class="fa-solid fa-play fa-xl"></i>
                </div>
                <svg class="hidden animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" id="icon_spin">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                        stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                    </path>
                </svg>
            </button>

            <button class="mx-2 drop-shadow-lg rounded-lg bg-green-400 p-3 disabled:opacity-50" id="downloadCode"
                disabled>
                <i class="fa-solid fa-file-arrow-down fa-xl"></i>
            </button>

            <button class="mx-2 drop-shadow-lg rounded-lg bg-yellow-400 p-3" id="uploadCode">
                <i class="fa-solid fa-file-arrow-up fa-xl"></i>
            </button>
        </div>

        {% csrf_token %}
        <div class="flex justify-center xl:items-start lg:items-start md:items-start sm:items-center xs:items-start lg:flex-row md:flex-row sm:flex-col xs:flex-col 2xs:flex-col mb-[58px] p-2 m-2">
            <!-- code editor -->
            <div class="w-full m-2 overflow-x-scroll">
                <div class="flex justify-start">
                    <a href="#" class="p-2 text-blue-500 underline" id="clearInput">clear input</a>
                </div>
                <div class="rounded-lg border-2 border-gray-400">
                    <div id="editor" class="mb-[30px] rounded-lg"></div>
                </div>
                <!-- processing prediction -->
                    <div class="hidden" id="predicting_lang">
                        <div class="mx-[4%] mt-[20px] flex items-center gap-2">
                            <svg class="animate-spin h-5 w-5 text-black" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                            </svg>
                            <p>Predicting....</p>
                        </div>
                    </div>
                 <!-- show probabilities language prediction -->
                    <div class="my-[15px] mx-[4%]">
                        <ul id="predict_prob">
                        </ul>
                    </div>
            </div>
            <!-- result console application -->
            <div class="w-full m-2 overflow-x-scroll">
                <div class="flex justify-end flex-col">
                    <!-- clearing output -->
                    <div class="flex justify-end">
                        <a href="#" class="p-2 text-blue-500 underline" id="clearOutput">clear output</a>
                    </div>

                    <!-- show programming language prediction -->
                    <div class="mb-[10px] mx-[4%]" id="predict_lang"></div>
                </div>
                <div class="rounded-lg border-2 border-gray-400 overflow-scroll">
                    <div id="terminal" class="mb-[20px]"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer -->
    <div class="bg-blue-200 text-center flex flex-wrap justify-between rounded-t-[20px]">
        <p class="py-2 px-[20px]" id="footer_title"></p>
        <p class="py-2 px-[20px]">v1.0</p>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/addons/attach/attach.js"></script>

    <!-- code mirror js -->
    <script src="{% static 'editor/js/editor.bundle.js' %}"></script>
    <!-- ajax -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script type="module">
        import {runCode, downloadCode, newPage, closeAlert, getCode, lang_array} from "{% static 'editor/js/code.js' %}"

        $('#closeAlert').click(function(){
            closeAlert()
        })

        $('#newPage').click(function(){
            newPage()
        })
        
        $('#runCode').click(function(){
            runCode()
        })

        $('#downloadCode').click(function(){
            downloadCode()
        })

        $('#editor').keyup(function(e){
            if(e.which == 13){
                getCode()
            }
        })

        $('#uploadCode').click(function(){
            // show popup upload document
            $("#pop_up_upload").removeClass('hidden')
        })

        $('#closeUpload').click(function(){
            $('#alertUpload').empty()
            $("#pop_up_upload").addClass('hidden')
        })

        $("#fileUpload").change(function(){
            $('#alertUpload').empty()
        })

        $("#submitUpload").click(function(){
            let file = document.querySelector('#fileUpload')
            if(file.files[0]){
                let fileName = file.files[0].name
                let fileExt = fileName.split('.').pop()
                let availableExt = ['txt']
                if(!availableExt.includes(fileExt)){
                    let fr = new FileReader()
                    fr.onload = function(){
                        let editor = document.getElementsByClassName('cm-content')
                        editor[0].innerText = fr.result
                    }
                    fr.readAsText(file.files[0])
                    getCode()
                    $('#alertUpload').empty()
                    $("#pop_up_upload").addClass('hidden')
                }else{
                    $('#alertUpload').html('File extension does not permitted..')
                }
            }else{
                $('#alertUpload').html('File not selected')
            }
        })
    </script>


    <!-- font awesome icons -->
    <script src="https://kit.fontawesome.com/26a7f3b810.js" crossorigin="anonymous"></script>
    <!-- code editor js -->
    <script>
        const date = new Date()
        const year = date.getFullYear()
        $("#footer_title").html("&copy;" + " " + year + " - MoeApp by Yehezkiel Victorious Ermanto")
        const term = new Terminal()
        term.open(document.getElementById('terminal'))

        $("#clearOutput").click(function(){
            term.clear()
            $("#predict_lang").empty()
        })
        
        $("#clearInput").click(function(){
            let editor = document.getElementsByClassName("cm-content");
            editor[0].innerText = ""
            $("#predict_prob").empty()
            $("#runCode").prop('disabled', true)
            $("#downloadCode").prop('disabled', true)
        })
    </script>
</body>

</html>
